<div class="row">
  <div class="col-sm-12">
    <!-- <button class="btn btn-success" [routerLink]="['new']">NewRecipe</button> -->
    <button class="btn btn-success" (click)="toNewRecipe()">NewRecipe</button>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-sm-12">

    <!-- <div class="list-group">
      <a href="#" class="list-group-item"
      *ngFor="let recipe of recipes">
        <div class="float-left">
          <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
          <p class="list-group-item-text">{{ recipe.description }}</p>
        </div>
        <span class="float-right">
          <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive" style="max-height:50px;">
        </span>
      </a>
    </div> -->

    <app-recipe-item
    *ngFor="let recipeEl of (recipesState | async).recipes; let i = index"
    [recipe]="recipeEl"
    [id]="i"
    ></app-recipe-item>

  </div>
</div>
